p {
    text-align: center;
}

#nestedDiv {
    display: flex;
    justify-content: center;
}

body {
    margin-bottom: 5000px;
}

.block {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
}

#white {
    background-color: white;
    position: relative;
    border: 2px dashed;
}

#moveme {
    background-color: lightgreen;
    position: absolute;
    top: 10px;
    left: 10px;
}

#icon {
    width: 10px;
    position: absolute;
    top: 3px;
    left: 3px;
}

#wrapper {
    position: relative;
}

#wrapper input {
    position: absolute
}

#wrapperWrapper {
    display: flex;
}

#window {
    width: 225px;
    height: 225px;
    border: 2px solid;
    overflow: hidden;
}

#imgSlider img {
    width: 300px;
    height: 300px;
    transform: translateX(0px);
    animation: move 3s infinite;
}

#imgSlider {
    display: flex;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-1000px)
    }
}

